/* Global Styles */

html,
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 29px;
}
h3,
p {
  font-size: 19px;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
/* Section Styles */

main > section {
  padding: 30px 25px;
}

/* Grid Styles */

/* this is only applied on desktop */
@media (min-width: 768px) {
  /*this is a grid with two columns*/
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /*this is a grid with four columns*/
  .grid-1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}
/* Card Styles */

.card {
  box-shadow: 0 0 15px 0 gray;
  border-radius: 5px;
  padding: 20px 20px;
  overflow: hidden;
  margin-bottom: 40px;
}

.card section {
  padding: 20px;
}

.card p {
  font-size: 17px;
}

/* this is only applied on desktop */
@media (min-width: 768px) {
  /* image should fill figure container of card that also has two columns*/
  .card.grid-1-2 img {
    object-fit: cover;
  }
}

/* Header Styles */

.header {
  background: linear-gradient(to right, #23517f, #80424d);
  color: white;
  padding: 20px;
  height: calc(100%-80px);
  flex-direction: column-reverse;
}

.header h1 {
  margin-top: 0px;
}
.header a {
  color: white;
  text-decoration: none;
  border: solid 1px white;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
}

.header img {
  opacity: 70%;
}

@media (min-width: 768px) {
  .header.grid-1-2 {
    height: unset;
    padding: 100px 20px;
    display: grid;
    grid-template-columns: 1f 1f;
  }

  /*main header should have a grid gap of 40px*/

  .header.grid-1-2 {
    grid-gap: 40px;
  }
}
/* Navbar Styles */

nav { 
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a > img { 
  height: 30px;
  width: auto;
}

nav > ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a { 
  text-decoration: none;
  color: black;
  font-weight: bold;

}

.hamburger {
  display: none;
}

#overlay {
  display: none;
}
/* Navbar Desktop Styles */

@media (min-width: 768px) { 
 nav ul { 
   display: flex;
   max-width: 500px;
   width: 100%;
   justify-content: space-between;
 }
 nav { 
   padding: 0px 40px;
 }
}

/* Navbar Mobile Styles */

@media (max-width: 768px) {
  nav { 
    padding: 0px 20px;
  }
  nav ul li { 
    padding: 20px;
  }
  nav ul {
    display: none;
    max-width: 60vw;
    width: 100%;
    height: 100vh;
    background: white;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 20px;
  }
  .hamburger {
    display: block;
    height: 30px;
    width: auto;
  }
  #overlay {
    display: block;
    width: 100vh;
    height: 100vh;
    color: black;
    position: fixed;
    top: 0%;
    left: 0%;
  
  }
}

/* Footer Styles */

footer {
  background-color: black;
  color: white;
  padding: 60px 40px;
  text-align: center;
}

 footer a:visited {
  color: white;
